@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <strong>My Email:</strong> <a href="mailto:rdmurai@gmail.com">rdmurai@gmail.com</a><br />
    <strong>GitHub  :</strong> <a href="https://github.com/rdmurai/">My repository</a>
</address>
