@{
    ViewData["Title"] = "Home Page";
}
<hr />
<h2>Welcome</h2>
<hr />
<h4>App was developed in my first .NET course</h4>

<h4>This CRUD project uses ASP.Net Core MVC 2.1 </h4>

<h4>In this project we used Entity Framework, MVC architecture and some LINQ statements </h4>
